.stack-work/
no-syn.cabal
*~
*.swp
*.odt
*.tex
_minted*
#*
test/*
!test/*.hs
!test/*.ns
!test/*.ns.fail
!test/*.ns.disable
!test/*.ns.fail.disable
documents/*.pdf
documents/*.html
*.aux
*.log
*.out
*.toc
